/.vscode
/.react-router
/.github
/.husky
/.wrangler

/build
/dist
/drizzle
/public
/node_modules

README.md
pnpm-lock.yaml
package-lock.json
package.json
components.json
worker-configuration.d.ts
wrangler.toml